{% extends 'base.html' %}
{% block MAIN %}
<div class="row-fluid">
	<div class ="span12">
		<h2 class="quienes">¿Qué es Políglota?</h2>
		<p class="quienes">Políglota es la primera comunidad gratuita de idiomas del mundo.</p>
		<p class="quienes">Somos miles de personas las que hemos sufrido el tradicional sistema de enseñanza de idiomas que es caro, difícil y aburrido. En Políglota creemos que aprender un idioma puede y débe ser&nbsp;<strong>GRATIS, FÁCIL y ENTRETENIDO</strong>!</p>
		<p class="quienes">Y además estamos seguros que la mejor manera para lograr esto, es haciéndolo en comunidad.</p>
		<p class="quienes"><strong>Grupos de conversación Políglota</strong>. En distintas universidades, cafés, pubs y cualquier lugar que sea grato para reunirse, cientos de personas lo hacen con un sólo fin: Compartir en distintos idiomas. Tanto para aprender por inmersión como para practicar, estos grupos te ayudarán a comunicarte en ese idioma que siempre quisiste.</p>
		<p class="quienes">¡Aprende de tus compañeros! Aprende directamente de hablantes nativos y extranjeros de la comunidad Políglota en las reuniones grupales. Así puedes practicar tus conocimientos de idiomas en una conversación informal.</p>
		<p class="quienes" style= "padding-bottom: 5%;">Los grupos Políglota se reúnen en pubs y cafés de todo el mundo. <br> <b>¡Tú también puedes formar parte de uno y aprender idiomas!</b></p>
	</div>
</div>
{% endblock %}